@page "/projects/all/by-month/transfers/{month}/{year}" 
@using Dfe.Complete.Pages.Projects.List
@model Dfe.Complete.Pages.Projects.List.ProjectsByMonth.TransferProjectsByMonthModel
@{
    Layout = "List/ProjectsByMonth/_ProjectsByMonthLayout";
    ViewData["Title"] = "Academies opening or transferring";
}

@section PageHeading
{
    <span class="govuk-caption-l">Academies opening or transferring</span>
    <h1 class="govuk-heading-l">
        @Model.DateString
    </h1>
    <p>Schools that will become academies, and academies that will move to a different trust.</p>

    <p>You can also <a href="/projects/all/export/by-significant-date/conversions/all-data/4/2025/csv">download a more detailed version of the data as a CSV file</a>.</p>
}

<div class="govuk-grid-column-full">
    @{
        if (Model.Projects.Any())
        {
            <partial name="Projects/List/ProjectsByMonth/_ProjectsByMonthTable" model="@Model.Projects" />
        }
        else
        {
            <div class="govuk-inset-text">
                There are no projects due to convert between @Model.DateString and @Model.DateString
            </div>
        }
    }
</div>