@page "/projects/{projectId}/tasks/confirm_outgoing_trust_ceo_contact"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmOutgoingTrustCeoDetails.ConfirmOutgoingTrustCeoDetailsModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm the outgoing trust CEO’s details";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
