@page "/projects/{projectId}/tasks/deed_of_variation"
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.Utils;

@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.DeedOfVariationTask.DeedOfVariationTaskModel

@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = Model.TaskIdentifier.ToDisplayDescription();
}

@section TaskHeaderHintSection
{
    <div class="govuk-hint">
        @if (Model.Project.Type == ProjectType.Conversion)
        {
            <p>You'll only need to complete and clear a deed of variation if there are changes to the funding agreements.</p>
        }
        else
        {
            <p>You only need to use a deed of variation if both the following are true.</p>
            <p>The incoming trust is:</p>
            <ul>
                <li>updating an old master funding agrfeement that covers all current academies in the trust</li>
                <li>not using an additional master funding agreement for the transfer of this academy</li>
            </ul>
        }
    </div>
}

@section TaskSection {
    @if (Model.Project.Type == ProjectType.Conversion)
    {
        @await Html.PartialAsync("_ConversionDeedOfVariationTask", Model)
    }

    @if (Model.Project.Type == ProjectType.Transfer)
    {
        @await Html.PartialAsync("_TransferDeedOfVariationTask", Model)
    }
}
