@page "/service-support/users/{userId}/edit"
@model Dfe.Complete.Pages.Projects.ServiceSupport.Users.EditUserModel
@{
    Layout = "ServiceSupport/_ServiceSupportLayout";
    ViewData["Title"] = "Edit a user";
}
<div class="govuk-grid-column-two-thirds">   
    <partial name="_ErrorSummary" model="null"/>
    <h1 class="govuk-heading-l">
        Edit a user
    </h1>

    <partial name="UserDetailsForm" model="Model" />
</div>