@page "/projects/all/in-progress/conversions"
@model Dfe.Complete.Pages.Projects.List.ProjectsInProgress.ConversionProjectsInProgressModel
@{
    Layout = "List/ProjectsInProgress/_ProjectsInProgressLayout";
    ViewData["Title"] = "Conversion projects in progress";
}

@section PageHeading
{
    <h1 class="govuk-heading-xl">
        All conversions in progress
    </h1>
}

@await Html.PartialAsync("Tables/_ConversionOrTransferInProgressTable", Model)
