@page "/projects/all/in-progress/transfers"
@using Dfe.Complete.Constants;
@using Dfe.Complete.Domain.Enums
@model Dfe.Complete.Pages.Projects.List.ProjectsInProgress.TransferProjectsInProgressInProgressModel
@{
    Layout = "List/ProjectsInProgress/_ProjectsInProgressLayout";
    ViewData["Title"] = "Transfer projects in progress";
}

@section PageHeading
{
<h1 class="govuk-heading-xl">
    All transfers in progress
</h1>
}

@await Html.PartialAsync("Tables/_ConversionOrTransferInProgressTable", Model.Projects, new ViewDataDictionary(ViewData) {
    { "ProjectType", ProjectType.Transfer }
})
