@model Dfe.Complete.Pages.Projects.TaskList.Tasks.RiskProtectionArrangementTask.RiskProtectionArrangementTaskModel

<form method="post" novalidate>
    <div class="govuk-form-group">
        <h3 class="govuk-heading-m">Risk protection arrangement</h3>
        
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Has the risk protection arrangement been confirmed?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="arrangement-confirmed-yes" name="arrangement-confirmed" type="radio" value="true" asp-for="ArrangementConfirmed">
                        <label class="govuk-label govuk-radios__label" for="arrangement-confirmed-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="arrangement-confirmed-no" name="arrangement-confirmed" type="radio" value="false" asp-for="ArrangementConfirmed">
                        <label class="govuk-label govuk-radios__label" for="arrangement-confirmed-no">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="risk-assessment">
                Risk assessment notes
            </label>
            <div class="govuk-hint">
                Add any notes about the risk assessment and protection arrangements.
            </div>
            <textarea asp-for="RiskAssessment" class="govuk-textarea" id="risk-assessment" name="risk-assessment" rows="5"></textarea>
        </div>

        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Save and continue
            </button>
            <a class="govuk-link" href="@Url.Page("/Projects/TaskList/Index", new { projectId = Model.ProjectId })">
                Cancel
            </a>
        </div>
    </div>
</form>
