@page "/projects/all/regions/{region}"
@model Dfe.Complete.Pages.Projects.List.ProjectsByRegion.ProjectsByRegion

@{
    Layout = "List/_AllProjectsLayout";
    ViewData["Title"] = $"Project for {Model.Region}  region";
}
<!DOCTYPE html>

<html>
<head>
    <title>lol</title>
</head>
<body>
<div>
    
</div>
</body>
</html>