@page
@model Dfe.Complete.Pages.Projects.Completion._ConversionValidationNotificationModel
@{  
    var validationResult = Model.ConversionCompletionValidationResult;    
}

@if (validationResult != null && validationResult.ShowNotification)
{
    <div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p>This project cannot be completed until:</p> 
            <ul>
                @if (validationResult!.DateConfirmedAndInThePast)
                {
                    <li>The conversion date has been confirmed and is in the past</li>
                }
                @if (validationResult!.AllConditionsMetTaskCompleted)
                {
                    <li>The confirm all conditions have been met task is completed</li> 
                }
                @if (validationResult!.AcademyOpenedDateTaskCompleted)
                {
                    <li>The confirm the date the academy opened task is completed</li>
                }                
            </ul>
        </div>
    </div>
}
