@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Dfe.Complete.Extensions;

@{
    var validationMessages = TempData.Get<List<string>>("CompleteProjectValidationMessages");
}

@if (validationMessages != null && validationMessages.Count > 0)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-notification-banner class="govuk-notification-banner">
                <govuk-notification-banner-title>
                    Important
                </govuk-notification-banner-title>

                <p>This project cannot be completed until:</p>
                <ul>
                    @foreach (var message in validationMessages)
                    {
                        <li>@message</li>
                    }
                </ul>

            </govuk-notification-banner>
        </div>
    </div>
}