@page "/projects/{projectId}/complete"


@model Dfe.Complete.Pages.Projects.CompleteProjectModel
@{

    Layout = "_Layout";
    ViewData["Title"] = "Complete";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation"><h1 class="govuk-panel__title">Project completed</h1></div>
        <p class="govuk-body">You have completed the project for @Model.Project.EstablishmentName @Model.Project.Urn.Value.</p>

        <h2 class="govuk-heading-m">Help us make improvements to the service</h2>
        <p class="govuk-body">Please fill in this <a href="https://forms.office.com/e/xf0k4LcWVN" class="govuk-link" target="_blank">short survey (opens in a new tab)</a>.</p>

        <h2 class="govuk-heading-m">What to do next</h2>
        <p class="govuk-body">Go back to your project list and choose another project to work on.</p>

        <a data-module="govuk-button" draggable="false" role="button" class="govuk-button" href="/">Return to project list</a>
    </div>
</div>