@page "/projects/{projectId}/tasks/closure_or_transfer_declaration"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ClosureOrTransferDeclaration.ClosureOrTransferDeclarationModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Closure or transfer declaration";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
