@page "/projects/{projectId}/dao-revocation/minister"
@model Dfe.Complete.Pages.Projects.Decision.RecordDaoRevocation.MinisterName.AddDaoRevocationMinisterNameModel
@using Dfe.Complete.Constants
@inject Dfe.Complete.Services.ErrorService ErrorService
@{
    Layout = "_RecordDaoRevocationLayout";
    ViewData["Title"] = "Minister’s name";
    var hasError = ErrorService.HasErrors();
    var fieldName = "minister-name";
}

@section BodySection {
    <govuk-error-summary />
    <form method="post" novalidate>
        <input type="hidden" asp-for="ProjectId" />
        <span class="govuk-caption-xl">Revoke Directive Academy Order</span>
        <h1 class="govuk-heading-xl">
            Minister’s name
        </h1>
        <govuk-input id="@fieldName" asp-for="@Model.Name">
            <govuk-input-label></govuk-input-label>
            <govuk-input-hint>
                <p>Enter the name of the minister who made the decision.</p>
            </govuk-input-hint>
            @if (ErrorService.HasErrorForKey(fieldName))
            {
                <govuk-input-error-message>@(ErrorService.GetErrorMessage(fieldName))</govuk-input-error-message>
            } 
        </govuk-input>
        <div class="govuk-button-group">
            <govuk-button type="submit">Continue</govuk-button>
            <a class="govuk-link" href="@string.Format(RouteConstants.Project, Model.ProjectId)">Cancel</a>
        </div>
    </form>
}