@page "/projects/{projectId}/tasks/commercial_transfer_agreement"
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.Utils;
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.CommercialTransferAgreementTask.CommercialTransferAgreementTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = Model.TaskIdentifier.ToDisplayDescription();
    var isProjectTypeTransfer = Model.Project.Type == ProjectType.Transfer;
}
@section TaskHeaderHintSection
{
    <div class="govuk-hint"> 
        <p>
            The commercial transfer agreement is essential for all @(isProjectTypeTransfer ? "transfer" : "conversion") projects.
        </p>
        @if (isProjectTypeTransfer)
        {
            <p>It might not be agreed and signed until the final month before the academy is transferred.</p>
        }
        @if(!isProjectTypeTransfer)
        {
            <p>It might not be agreed and signed until the final month before the school is converted.</p>
            <p>
                The Commercial Transfer Agreement (CTA) records the contracts and staff transferring from a local authority-maintained school to an academy. It is a tri-partite agreement between the academy trust, converting school’s governing body and the local authority.
            </p>
            <p>
                We expect the majority of warranty/guarantee transfers for building works to be part of the CTA. If they do not form part of the CTA, then the transfer would be completed via a separate DoN.
            </p>
            <p>
                We do not expect any deviations to the model, but if changes have been proposed, the DO should request additional information on the rationale for these changes and forward any queries to SOPU via <external-link data-cy="commercial-transfer-agreement-contact-policy-team-link", href="@_configuration["ExternalLinks:ContactPolicyTeam"]" class="govuk-link">contact the Schools Operational Practise Unit (opens in new tab)</external-link>. You can <external-link data-cy="commercial-transfer-agreement-guidance-doc-link"  href="@_configuration["ExternalLinks:CommercialTransferAgreementGuidance"]" class="govuk-link">read guidance about how use check and assure the agreement (opens in new tab)</external-link> on the guidance site.
            </p>
        }
    </div>
}
@section TaskSection {   
    @if (isProjectTypeTransfer)
    {
        <govuk-details>
            <govuk-details-summary>
                How to check and assure the commercial transfer agreement
            </govuk-details-summary>
            <govuk-details-text>
                <p>You can <external-link data-cy="commercial-transfer-agreement-guidance-doc-link"  href="@_configuration["ExternalLinks:CommercialTransferAgreementGuidance"]" class="govuk-link">read guidance about how use check and assure the agreement (opens in new tab)</external-link> on SharePoint.</p>
            </govuk-details-text>
        </govuk-details>
    }
    <form method="post">
        <input type="hidden" asp-for="TasksDataId" />
        <input type="hidden" asp-for="Type" />
       @await Html.PartialAsync(isProjectTypeTransfer
            ? "_TransferCommercialTransferAgreementTask"
            : "_ConversionCommercialTransferAgreementTask", Model)
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
} 