@page "/projects/{projectId}/dao-revocation"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.Decision.RecordDaoRevocation.DaoRevocationModel
@{
    Layout = "_RecordDaoRevocationLayout";
    ViewData["Title"] = "Record Directive Academy Order revocation";
}

@section BodySection {
    <form method="post">
        <span class="govuk-caption-xl">@Model.Establishment.Name</span>
        <h1 class="govuk-heading-xl">Record Directive Academy Order revocation</h1>
        <p>Revoking a DAO (Directive Academy Order) will end this conversion project.</p>
        <p>This decision must be approved by a minister.</p>
        <p>You must also send a letter confirming the decision to the school’s governing body, and save this in the school’s SharePoint folder.</p>
        <p>If you choose to record the revocation of this project's Academy Order, you will need to enter information about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>who made the decision</li>
            <li>why they made the decision</li>
            <li>when the decision was made</li>
        </ul>
        <div class="govuk-button-group">
            <govuk-button type="submit">Continue</govuk-button>
            <a class="govuk-link" href="@String.Format(RouteConstants.Project, Model.ProjectId)">Cancel</a>
        </div>
    </form>
}