@page "/projects/{projectId}/tasks/direction_to_transfer"
@using Dfe.Complete.Utils;
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.DirectionToTransfer.DirectionToTransferModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = Model.TaskIdentifier.ToDisplayDescription();
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
