@using Dfe.Complete.Utils
@model Dfe.Complete.Pages.Projects.AboutTheProject.AboutTheProjectModel

<section id="projectAssignment" class="app-summary-card govuk-!-margin-bottom-6">
    <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
            Project assignment
        </h2>
    </header>
    <div class="app-summary-card__body">
        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>Are you handing this project over to RCS (Regional Casework Services)?</govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @(Model.Project.Team == Dfe.Complete.Domain.Enums.ProjectTeam.RegionalCaseWorkerServices ? "Yes" : "No")
                </govuk-summary-list-row-value>
                @if(Model.UserHasEditAccess()) {
                    <govuk-summary-list-row-actions>
                        <govuk-summary-list-row-action href="@Model.GetChangeLinkUrl("project-assignment")" visually-hidden-text="Are you handing this project over Regional Casework Services?">Change</govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                }
            </govuk-summary-list-row>

        </govuk-summary-list>
    </div>
</section>
