@page "/projects/{projectId}/tasks/confirm_incoming_trust_has_completed_all_actions"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmIncomingTrustHasCompletedAllActions.ConfirmIncomingTrustHasCompletedAllActionsModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm the incoming trust has completed all actions";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}

