@page "/projects/{projectId}/tasks/conditions_met"
@using Dfe.Complete.Domain.Enums
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmAllConditionsMetTask.ConfirmAllConditionsMetTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm all conditions have been met";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        <p>The deadline for meeting all conditions is in the email you got from the SOPU (Schools Operational Practice Unit) team. All conditions must be met before the deadline or the school will not be able to convert on 1 September 2002.</p>
        <govuk-details>
            <govuk-details-summary>
                <span class="govuk-details__summary-text">How to check all conditions have been met</span>
            </govuk-details-summary>
            <govuk-details-text>
                <p>You need to check that:</p>
                <ul>
                    <li>legal documents are cleared</li>
                    <li>legal documents are signed by the necessary people</li>
                    <li>the school have confirmed all of their actions are complete</li>
                </ul>
            </govuk-details-text>
        </govuk-details>
    </div>
}

@section TaskSection { 
      
    <form method="post">
        <govuk-checkboxes name="options">
            <govuk-checkboxes-fieldset>
                <govuk-checkboxes-fieldset-legend>
                </govuk-checkboxes-fieldset-legend>
                <govuk-checkboxes-item id="@(nameof(Model.Confirm))" asp-for="@Model.Confirm" value="true" name="@(nameof(Model.Confirm))" checked="@Model.Confirm">
                    <b>Confirm all conditions are met</b>
                     <div class="govuk-hint">
                         <p>This will change the conversion's status on the "By month" project list. SOPU use that list to prepare funding agreement letters.</p>
                    </div>
                    <govuk-details data-module="govuk-details" class="govuk-details">
                        <govuk-details-summary>
                            <span class="govuk-details__summary-text">Help checking for changes</span>
                        </govuk-details-summary>
                        <govuk-details-text>
                            <p>You must agree a new conversion date with all stakeholders, then change the conversion date for this project.</p>
                        </govuk-details-text>
                    </govuk-details>
                </govuk-checkboxes-item> 
            </govuk-checkboxes-fieldset>
        </govuk-checkboxes>
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
