@page "/projects/{projectId}/tasks/conditions_met"
@using Dfe.Complete.Domain.Enums
@{
    Layout = "_ProjectTaskLayout";
    var isConversion = Model.Type == ProjectType.Conversion;
    ViewData["Title"] = isConversion ?
        "Confirm all conditions have been met" : "Confirm this transfer has authority to proceed";
}
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmAllConditionsMetTask.ConfirmAllConditionsMetTaskModel

@section TaskHeaderHintSection {
    @if (isConversion)
    {
        <div class="govuk-hint">
            <p>The deadline for meeting all conditions is in the email you got from the SOPU (Schools Operational Practice Unit) team. All conditions must be met before the deadline or the school will not be able to convert on @Model.Project.SignificantDate.ToDateString().</p>
            <govuk-details>
                <govuk-details-summary>
                    <span class="govuk-details__summary-text">How to check all conditions have been met</span>
                </govuk-details-summary>
                <govuk-details-text>
                    <p>You need to check that:</p>
                    <ul>
                        <li>legal documents are cleared</li>
                        <li>legal documents are signed by the necessary people</li>
                        <li>the school have confirmed all of their actions are complete</li>
                    </ul>
                </govuk-details-text>
            </govuk-details>
        </div>
    }
    else{
        <div class="govuk-hint">
            <p>The deadline for getting authority to proceed is in the email you got from SOPU (Schools Operational Practice Unit). The project must have authority to proceed by the deadline or the academy will not transfer on 1 January 2024.</p>
            <govuk-details>
                <govuk-details-summary>
                    <span class="govuk-details__summary-text">How to check the transfer has authority to proceed</span>
                </govuk-details-summary>
                <govuk-details-text>
                    <p>The transfer cannot proceed until:</p>
                    <ul>
                        <li>legal documents are cleared and signed</li>
                        <li>the academy have confirmed all of their actions are complete</li>
                        <li>information in the baseline spreadsheet is correct and approved</li>
                    </ul>
                </govuk-details-text>
            </govuk-details>
        </div>
    }
}
@section TaskSection {
    @await Html.PartialAsync(Model.Project.Type == ProjectType.Conversion ?
        "_ConversionConditionsMetTask" : "_TransferAuthorityToProceedTask", Model)
}
