@using Dfe.Complete.Constants
@using Dfe.Complete.Services
@inject IProjectPermissionService ProjectPermissionService

@{
    var userCanComplete = ProjectPermissionService.UserCanComplete(Model.Project, Model.CurrentUserTeam, User);
}

@if (userCanComplete)
{
    <div class="govuk-grid-row" id="completing_a_project">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="@string.Format(RouteConstants.ProjectComplete, Model.ProjectId)" accept-charset="UTF-8"
                    method="post">
                    @Html.AntiForgeryToken()
                    <h2 class="govuk-heading-m">Completing a project</h2>
                    <p class="govuk-body">You should only complete the project when you have finished every task and marked
                        any
                        that are not needed as not applicable.</p>
                    <p class="govuk-body">You will not be able to change this project once it is completed.</p>
                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" id="save">Complete project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
