@using Dfe.Complete.Constants
@using Dfe.Complete.Pages.Projects.TaskList.Tasks

@model Dfe.Complete.Pages.Projects.TaskList.TaskListModel
@inject Dfe.Complete.Services.IProjectPermissionService projectPermissionService;
@{
    var conversionTasks = ConversionTasks.BuildTaskList(Model.ConversionTaskList, Model.ProjectId);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <div class="govuk-grid-column-one-quarter">
            <nav>
                <h2 class="govuk-heading-m">Jump to section</h2>
                <ul class="list-style-none govuk-!-padding-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#project_kick_off">Project kick-off</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#legal_documents">Clear and sign legal documents</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#get_ready_for_opening">Get ready for opening</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#after_opening">After opening</a>
                    </li>
                    @if (projectPermissionService.UserCanComplete(Model.Project, User)){
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#completing_a_project">Completing a project</a>
                        </li>
                    }
                    @if (projectPermissionService.UserCanDaoRevocation(Model.Project, User)){
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#revoke_a_directive_academy_order">Revoke a Directive Academy Order</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-l">Task list</h2>
            </div>
            <div class="govuk-grid-row">
                <ol class="app-task-list">
                    <li>
                        <h3 class="app-task-list__section" id="project_kick_off">
                            Project kick-off
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in conversionTasks.ProjectKickoffTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="legal_documents">
                            Clear and sign legal documents
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in conversionTasks.LegalDocumentsTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="get_ready_for_opening">
                            Get ready for opening
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in conversionTasks.ReadyForOpeningTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="after_opening">
                            After opening
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in conversionTasks.AfterOpeningTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                </ol>
            </div>
            <partial name="Projects/TaskList/_CompleteProject" model="Model" />
            <partial name="Projects/TaskList/_HoldProject" model="Model" />
            @if (projectPermissionService.UserCanDaoRevocation(Model.Project, User))
            {
                <div class="govuk-grid-row" id="revoke_a_directive_academy_order">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">
                                Revoke a Directive Academy Order
                            </h2>
                            <p class="govuk-body">You can record the decision to revoke a DAO (Directive Academy Order).</p>
                            <p class="govuk-body">The decision must have been approved by a minister.</p>
                            <div class="govuk-button-group">
                                <a class="govuk-button govuk-button--secondary" href="@string.Format(RouteConstants.ProjectDaoRevocation, Model.ProjectId)">Record DAO revocation</a>
                            </div>
                        </div>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>