@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.TagHelpers
@using Dfe.Complete.Utils;

@model Dfe.Complete.Pages.Projects.TaskList.TaskListModel
@inject Dfe.Complete.Services.IProjectPermissionService projectPermissionService;
@{
    var confirmDateAcademyOpenedTitle = NoteTaskIdentifier.ConfirmAcademyOpenedDate.ToDisplayDescription();

    var projectKickoffTasks = new[]
    {
        new TaskListItemViewModel("Handover with regional delivery officer", Model.TaskLink("handover"), Model.ConversionTaskList.HandoverWithRegionalDeliveryOfficer),
        new TaskListItemViewModel("External stakeholder kick-off", Model.TaskLink("stakeholder_kick_off"), Model.ConversionTaskList.ExternalStakeHolderKickoff),
        new TaskListItemViewModel("Confirm the academy's risk protection arrangements", Model.TaskLink("risk_protection_arrangement"), Model.ConversionTaskList.ConfirmAcademyRiskProtectionArrangements),
        new TaskListItemViewModel("Check accuracy of high needs places information", Model.TaskLink("check_accuracy_of_higher_needs"), Model.ConversionTaskList.CheckAccuracyOfHigherNeeds),
        new TaskListItemViewModel("Complete a notification of changes to funded high needs places form", Model.TaskLink("complete_notification_of_change"), Model.ConversionTaskList.CompleteNotificationOfChange),
        new TaskListItemViewModel("Process conversion support grant", Model.TaskLink("conversion_grant"), Model.ConversionTaskList.ProcessConversionSupportGrant),
        new TaskListItemViewModel("Confirm and process the sponsored support grant", Model.TaskLink("sponsored_support_grant"), Model.ConversionTaskList.ConfirmAndProcessSponsoredSupportGrant),
        new TaskListItemViewModel("Confirm the academy name", Model.TaskLink("academy_details"), Model.ConversionTaskList.ConfirmAcademyName),
        new TaskListItemViewModel("Confirm the headteacher's details", Model.TaskLink("confirm_headteacher_contact"), Model.ConversionTaskList.ConfirmHeadTeacherDetails),
        new TaskListItemViewModel("Confirm the chair of governors' details", Model.TaskLink("confirm_chair_of_governors_contact"), Model.ConversionTaskList.ConfirmChairOfGovernorsDetails),
        new TaskListItemViewModel("Confirm the incoming trust CEO's details", Model.TaskLink("confirm_incoming_trust_ceo_contact"), Model.ConversionTaskList.ConfirmIncomingTrustCeoDetails),
        new TaskListItemViewModel("Confirm the main contact", Model.TaskLink("main_contact"), Model.ConversionTaskList.ConfirmMainContact),
        new TaskListItemViewModel("Confirm the proposed capacity of the academy", Model.TaskLink("proposed_capacity_of_the_academy"), Model.ConversionTaskList.ConfirmProposedCapacityOfTheAcademy)
    };

    var legalDocumentsTasks = new[]
    {
        new TaskListItemViewModel("Land questionnaire", Model.TaskLink("land_questionnaire"), Model.ConversionTaskList.LandQuestionnaire),
        new TaskListItemViewModel("Land registry title plans", Model.TaskLink("land_registry"), Model.ConversionTaskList.LandRegistry),
        new TaskListItemViewModel("Supplemental funding agreement", Model.TaskLink("supplemental_funding_agreement"), Model.ConversionTaskList.SupplementalFundingAgreement),
        new TaskListItemViewModel("Church supplemental agreement", Model.TaskLink("church_supplemental_agreement"), Model.ConversionTaskList.ChurchSupplementalAgreement),
        new TaskListItemViewModel("Master funding agreement", Model.TaskLink("master_funding_agreement"), Model.ConversionTaskList.MasterFundingAgreement),
        new TaskListItemViewModel("Articles of association", Model.TaskLink("articles_of_association"), Model.ConversionTaskList.ArticlesOfAssociation),
        new TaskListItemViewModel("Deed of variation", Model.TaskLink("deed_of_variation"), Model.ConversionTaskList.DeedOfVariation),
        new TaskListItemViewModel("Trust modification order", Model.TaskLink("trust_modification_order"), Model.ConversionTaskList.TrustModificationOrder),
        new TaskListItemViewModel("Direction to transfer", Model.TaskLink("direction_to_transfer"), Model.ConversionTaskList.DirectionToTransfer),
        new TaskListItemViewModel("125 year lease", Model.TaskLink("one_hundred_and_twenty_five_year_lease"), Model.ConversionTaskList.OneHundredAndTwentyFiveYearLease),
        new TaskListItemViewModel("Subleases", Model.TaskLink("subleases"), Model.ConversionTaskList.Tubleases),
        new TaskListItemViewModel("Tenancy at will", Model.TaskLink("tenancy_at_will"), Model.ConversionTaskList.TenancyAtWill),
        new TaskListItemViewModel("Commercial transfer agreement", Model.TaskLink("commercial_transfer_agreement"), Model.ConversionTaskList.CommercialTransferAgreement)
    };

    var getReadyForOpeningTasks = new[]
    {
        new TaskListItemViewModel("Confirm the school has completed all actions", Model.TaskLink("school_completed"), Model.ConversionTaskList.ConfirmTheSchoolHasCompletedAllActions),
        new TaskListItemViewModel("Confirm all conditions have been met", Model.TaskLink("conditions_met"), Model.ConversionTaskList.ConfirmAllConditionsHaveBeenMet),
        new TaskListItemViewModel("Share the information about opening", Model.TaskLink("share_information"), Model.ConversionTaskList.ShareTheInformationAboutOpening)
    };

    var afterOpeningTasks = new[]
    {
        new TaskListItemViewModel(confirmDateAcademyOpenedTitle, Model.TaskLink("confirm_date_academy_opened"), Model.ConversionTaskList.ConfirmDateAcademyOpened),
        new TaskListItemViewModel("Redact and send documents", Model.TaskLink("redact_and_send"), Model.ConversionTaskList.RedactAndSendDocuments),
        new TaskListItemViewModel("Receive declaration of expenditure certificate", Model.TaskLink("receive_grant_payment_certificate"), Model.ConversionTaskList.ProjectReceiveDeclarationOfExpenditureCertificate)
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <div class="govuk-grid-column-one-quarter">
            <nav>
                <h2 class="govuk-heading-m">Jump to section</h2>
                <ul class="list-style-none govuk-!-padding-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#project_kick_off">Project kick-off</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#legal_documents">Clear and sign legal documents</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#get_ready_for_opening">Get ready for opening</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#after_opening">After opening</a>
                    </li>
                    @if (projectPermissionService.UserCanComplete(Model.Project, User)){
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#completing_a_project">Completing a project</a>
                        </li>
                    }
                    @if (projectPermissionService.UserCanDaoRevocation(Model.Project, User)){
                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#revoke_a_directive_academy_order">Revoke a Directive Academy Order</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-grid-row">
                <h2 class="govuk-heading-l">Task list</h2>
            </div>
            <div class="govuk-grid-row">
                <ol class="app-task-list">
                    <li>
                        <h3 class="app-task-list__section" id="project_kick_off">
                            Project kick-off
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in projectKickoffTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="legal_documents">
                            Clear and sign legal documents
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in legalDocumentsTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="get_ready_for_opening">
                            Get ready for opening
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in getReadyForOpeningTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                    <li>
                        <h3 class="app-task-list__section" id="after_opening">
                            After opening
                        </h3>
                        <ul class="app-task-list__items">
                            @foreach (var task in afterOpeningTasks)
                            {
                                <partial name="Shared/_TaskListItem" model="task" />
                            }
                        </ul>
                    </li>
                </ol>
            </div>
            <partial name="Projects/TaskList/_CompleteProject" model="Model" />
            @if (projectPermissionService.UserCanDaoRevocation(Model.Project, User))
            {
                <div class="govuk-grid-row" id="revoke_a_directive_academy_order">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">
                                Revoke a Directive Academy Order
                            </h2>
                            <p class="govuk-body">You can record the decision to revoke a DAO (Directive Academy Order).</p>
                            <p class="govuk-body">The decision must have been approved by a minister.</p>
                            <div class="govuk-button-group">
                                <a class="govuk-button govuk-button--secondary" href="@string.Format(RouteConstants.ProjectDaoRevocation, Model.ProjectId)">Record DAO revocation</a>
                            </div>
                        </div>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>