@using Dfe.Complete.Domain.Enums;
@using Dfe.Complete.Utils
@using Dfe.Complete.Models

@model Dfe.Complete.Pages.Projects.TaskList.TaskListModel
@{
    var confirmDateAcademyTransferredTitle = NoteTaskIdentifier.ConfirmDateAcademyTransferred.ToDisplayDescription();

    var projectKickoffTasks = new[]
    {
        new TaskListItemViewModel("Handover with regional delivery officer", Model.TaskLink("handover"),
            Model.TransferTaskList.HandoverWithRegionalDeliveryOfficer),
        new TaskListItemViewModel("External stakeholder kick-off", Model.TaskLink("stakeholder_kick_off"),
            Model.TransferTaskList.ExternalStakeHolderKickoff),
        new TaskListItemViewModel("Confirm the academy's risk protection arrangements",
            Model.TaskLink("rpa_policy"), Model.TransferTaskList.ConfirmAcademyRiskProtectionArrangements),
        new TaskListItemViewModel("Confirm the headteacher's details", Model.TaskLink("confirm_headteacher_contact"),
            Model.TransferTaskList.ConfirmHeadTeacherDetails),
        new TaskListItemViewModel("Confirm the incoming trust CEO's details",
            Model.TaskLink("confirm_incoming_trust_ceo_contact"), Model.TransferTaskList.ConfirmIncomingTrustCeoDetails),
        new TaskListItemViewModel("Confirm the outgoing trust CEO's details",
            Model.TaskLink("confirm_outgoing_trust_ceo_contact"), Model.TransferTaskList.ConfirmOutgoingTrustCeoDetails),
        new TaskListItemViewModel("Confirm the main contact", Model.TaskLink("main_contact"),
            Model.TransferTaskList.ConfirmMainContact),
        new TaskListItemViewModel("Request a new URN and record for the academy",
            Model.TaskLink("request_new_urn_and_record"),
            Model.TransferTaskList.RequestNewURNAndRecordForTheAcademy),
        new TaskListItemViewModel("Confirm transfer grant funding level",
            Model.TaskLink("sponsored_support_grant"), Model.TransferTaskList.ConfirmTransferGrantFundingLevel),
        new TaskListItemViewModel("Check and confirm academy and trust financial information",
            Model.TaskLink("check_and_confirm_financial_information"),
            Model.TransferTaskList.CheckAndConfirmAcademyAndTrustFinancialInfo)
    };

    var legalDocumentsTasks = new[]
    {
        new TaskListItemViewModel("Form M", Model.TaskLink("form_m"), Model.TransferTaskList.FormM),
        new TaskListItemViewModel("Land consent letter", Model.TaskLink("land_consent_letter"),
            Model.TransferTaskList.LandConsentLetter),
        new TaskListItemViewModel("Supplemental funding agreement", Model.TaskLink("supplemental_funding_agreement"),
            Model.TransferTaskList.SupplementalFundingAgreement),
        new TaskListItemViewModel("Deed of novation and variation", Model.TaskLink("deed_of_novation_and_variation"),
            Model.TransferTaskList.DeedOfNovationAndVariation),
        new TaskListItemViewModel("Church supplemental agreement", Model.TaskLink("church_supplemental_agreement"),
            Model.TransferTaskList.ChurchSupplementalAgreement),
        new TaskListItemViewModel("Master funding agreement", Model.TaskLink("master_funding_agreement"),
            Model.TransferTaskList.MasterFundingAgreement),
        new TaskListItemViewModel("Articles of association", Model.TaskLink("articles_of_association"),
            Model.TransferTaskList.ArticlesOfAssociation),
        new TaskListItemViewModel("Deed of variation", Model.TaskLink("deed_of_variation"),
            Model.TransferTaskList.DeedoOfVariation),
        new TaskListItemViewModel("Deed of termination for the master funding agreement",
            Model.TaskLink("deed_of_termination_for_the_master_funding_agreement"),
            Model.TransferTaskList.DeedOfTerminationForTheMasterFundingAgreement),
        new TaskListItemViewModel("Deed of termination for the church supplemental agreement",
            Model.TaskLink("deed_termination_church_agreement"),
            Model.TransferTaskList.DeedOfTerminationForChurchSupplementalAreement),
        new TaskListItemViewModel("Commercial transfer agreement", Model.TaskLink("commercial_transfer_agreement"),
            Model.TransferTaskList.CommercialTransferAgreement),
        new TaskListItemViewModel("Closure or transfer declaration", Model.TaskLink("closure_or_transfer_declaration"),
            Model.TransferTaskList.ClosureOrTransferDeclaration)
    };

    var getReadyToTransferTasks = new[]
    {
        new TaskListItemViewModel("Confirm if the bank details for the general annual grant payment need to change",
            Model.TaskLink("bank_details_changing"),
            Model.TransferTaskList.ConfirmBankDetailsChangingForGeneralAnnualGrantPayment),
        new TaskListItemViewModel("Confirm the incoming trust has completed all actions",
            Model.TaskLink("confirm_incoming_trust_has_completed_all_actions"),
            Model.TransferTaskList.ConfirmIncomingTrustHasCompletedAllActions),
        new TaskListItemViewModel("Confirm this transfer has authority to proceed",
            Model.TaskLink("conditions_met"),
            Model.TransferTaskList.ConfirmThisTransferHasAuthorityToProceed)
    };

    var afterTransferTasks = new[]
    {
        new TaskListItemViewModel(confirmDateAcademyTransferredTitle, Model.TaskLink("confirm_date_academy_transferred"),
            Model.TransferTaskList.ConfirmDateAcademyTransferred),
        new TaskListItemViewModel("Redact and send documents", Model.TaskLink("redact_and_send_documents"),
            Model.TransferTaskList.RedactAndSendDocuments),
        new TaskListItemViewModel("Receive declaration of expenditure certificate",
            Model.TaskLink("declaration_of_expenditure_certificate"), Model.TransferTaskList.DeclarationOfExpenditureCertificate)
    };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <div class="govuk-grid-column-one-quarter">
            <nav>
                <h2 class="govuk-heading-m">Jump to section</h2>
                <ul class="list-style-none govuk-!-padding-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#project_kick_off">Project kick-off</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#legal_documents">Clear and sign legal
                            documents</a>
                        </li>

                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#get_ready_for_opening">Get ready to
                                transfer</a>
                            </li>

                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#after_transfer">After transfer</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#completing_a_project">Completing a
                                    project</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                        <div class="govuk-grid-row">
                            <h2 class="govuk-heading-l">Task list</h2>
                        </div>
                        <div class="govuk-grid-row">
                            <ol class="app-task-list">
                                <li>
                                    <h3 class="app-task-list__section" id="project_kick_off">
                                        Project kick-off
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in projectKickoffTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <h3 class="app-task-list__section" id="legal_documents">
                                        Clear and sign legal documents
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in legalDocumentsTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <h3 class="app-task-list__section" id="get_ready_for_opening">
                                        Get ready to transfer
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in getReadyToTransferTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <h3 class="app-task-list__section" id="after_transfer">
                                        After transfer
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in afterTransferTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                            </ol>
                        </div>
                        <partial name="Projects/TaskList/_CompleteProject" model="Model" />
                    </div>
                </div>
            </div>