@using Dfe.Complete.Pages.Projects.TaskList

@model Dfe.Complete.Pages.Projects.TaskList.TaskListModel
@{
    var transferTasks = TransferTasks.BuildTaskList(Model.TransferTaskList, Model.ProjectId);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
        <div class="govuk-grid-column-one-quarter">
            <nav>
                <h2 class="govuk-heading-m">Jump to section</h2>
                <ul class="list-style-none govuk-!-padding-0">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#project_kick_off">Project kick-off</a>
                    </li>

                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="#legal_documents">Clear and sign legal
                            documents</a>
                        </li>

                        <li>
                            <a class="govuk-link govuk-link--no-visited-state" href="#get_ready_for_opening">Get ready to
                                transfer</a>
                            </li>

                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#after_transfer">After transfer</a>
                            </li>
                            <li>
                                <a class="govuk-link govuk-link--no-visited-state" href="#completing_a_project">Completing a
                                    project</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="govuk-grid-column-three-quarters">
                        <div class="govuk-grid-row">
                            <h2 class="govuk-heading-l">Task list</h2>
                        </div>
                        <div class="govuk-grid-row">
                            <ol class="app-task-list">
                                <li>
                                    <h3 class="app-task-list__section" id="project_kick_off">
                                        Project kick-off
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in transferTasks.ProjectKickoffTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <h3 class="app-task-list__section" id="legal_documents">
                                        Clear and sign legal documents
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in transferTasks.LegalDocumentsTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <h3 class="app-task-list__section" id="get_ready_for_opening">
                                        Get ready to transfer
                                    </h3>
                                    <ul class="app-task-list__items">
                                         @foreach (var task in transferTasks.ReadyToTransferTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                                <li>
                                    <h3 class="app-task-list__section" id="after_transfer">
                                        After transfer
                                    </h3>
                                    <ul class="app-task-list__items">
                                        @foreach (var task in transferTasks.AfterTransferTasks)
                                        {
                                            <partial name="Shared/_TaskListItem" model="task" />
                                        }
                                    </ul>
                                </li>
                            </ol>
                        </div>
                        <partial name="Projects/TaskList/_CompleteProject" model="Model" />
                        <partial name="Projects/TaskList/_HoldProject" model="Model" />
                    </div>
                </div>
            </div>