@model Dfe.Complete.Pages.Projects.TaskList.Tasks.CompleteNotificationOfChangeTask.CompleteNotificationOfChangeTaskModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-l">Complete notification of change</h1>
        
        <p class="govuk-body">Complete the notification of change process for this conversion project.</p>
        
        <!-- Task-specific content for notification of change -->
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="notification-status">
                Notification status
            </label>
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="notification-completed" name="notification-status" type="radio" value="completed">
                    <label class="govuk-label govuk-radios__label" for="notification-completed">
                        Notification completed
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="notification-in-progress" name="notification-status" type="radio" value="in-progress">
                    <label class="govuk-label govuk-radios__label" for="notification-in-progress">
                        In progress
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
