@page
@model Dfe.Complete.Pages.Projects.List.ProjectsByLocalAuthority.ProjectsForLocalAuthority

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>