@{
    var isCookiesPage = Context.Request.Path.Value?.Contains("/cookies") ?? false;
    var isPost = string.Equals(Context.Request.Method, "POST", StringComparison.OrdinalIgnoreCase);
    var showBanner = !(isCookiesPage && isPost) && !Context.Request.Cookies.ContainsKey("ACCEPT_OPTIONAL_COOKIES");
    var returnUrl = Context.Request.Path + Context.Request.QueryString;
}

@* GOV.UK Cookie Banner (rebrand) - Following official pattern *@
@if (showBanner)
{
  <section class="govuk-cookie-banner" id="appCookieBanner" data-nosnippet aria-label="Cookie consent">
    <div class="govuk-cookie-banner__message govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">
            Cookies on Complete conversions, transfers and changes
          </h2>
          <div class="govuk-cookie-banner__content">
            <p class="govuk-body">We use some essential cookies to make this service work.</p>
            <p class="govuk-body">We'd like to set additional cookies so we can understand how people use the service and make improvements.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button type="button" class="govuk-button" data-module="govuk-button" data-testid="cookie-banner-accept"
                data-accept-url="@Url.Page(Links.Public.CookiePreferences.Page, new { consent = true, returnUrl = returnUrl })">
          Accept analytics cookies
        </button>
        <button type="button" class="govuk-button" data-module="govuk-button" data-testid="cookie-banner-reject"
                data-reject-url="@Url.Page(Links.Public.CookiePreferences.Page, new { consent = false, returnUrl = returnUrl })">
          Reject analytics cookies
        </button>
        <a class="govuk-link" data-testid="cookie-banner-link"
           asp-page="@Links.Public.CookiePreferences.Page" asp-route-returnUrl="@returnUrl">
          View cookies
        </a>
      </div>
    </div>
  </section>
}