@using Microsoft.Extensions.Hosting
<environment include="Test">
  <div class="environment-banner environment-banner--test govuk-tag--orange">
    <strong class="environment-banner__tag">
      TEST ENVIRONMENT
    </strong>
  </div>
</environment>

<environment include="@Environments.Development">
  <div class="environment-banner environment-banner--development govuk-tag--turquoise">
    <strong class="environment-banner__tag">
      DEVELOPMENT ENVIRONMENT
    </strong>
  </div>
</environment>