@using Microsoft.Extensions.Hosting
<environment include="Test">
  <div class="environment-banner environment-banner--test">
    <strong class="govuk-tag--orange environment-banner__tag">
      TEST ENVIRONMENT
    </strong>
  </div>
</environment>

<environment include="@Environments.Development">
  <div class="environment-banner environment-banner--development">
    <strong class="govuk-tag--turquoise environment-banner__tag">
      DEVELOPMENT ENVIRONMENT
    </strong>
  </div>
</environment>