@using Microsoft.ApplicationInsights.AspNetCore.Extensions;
@using GovUK.Dfe.CoreLibs.Utilities.Extensions
@using Dfe.Complete.Constants;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject Dfe.Complete.Services.IAnalyticsConsentService AnalytisConsentService

@{
    var showAnalytics = Configuration["GoogleAnalytics:Enable"] == "Yes" && AnalytisConsentService.HasConsent();
    var enableAppInsightsAnalytics = Configuration["ApplicationInsights:EnableBrowserAnalytics"] == "Yes" && AnalytisConsentService.HasConsent();
    var inputTitle = ViewData["Title"];
    var title = inputTitle?.ToString() != null && !inputTitle.ToString()!.IsEmpty() ? $"{inputTitle} - {CommonConstants.ProjectTitle}" : CommonConstants.ProjectTitle;
    var currentTab = (TabNavigationModel?) ViewData[TabNavigationModel.ViewDataKey];
    var authenticatedUserId = (User.Identity is not null && User.Identity.IsAuthenticated) ? User.Identity.Name ?? "Unknown" : "Anonymous";
}

<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded">
<head>
    @if (showAnalytics)
    {
        <!-- Google Tag Manager -->
        <script asp-add-nonce>
            (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
            'gtm.start':
            new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5TFNH73B');</script>
        <!-- End Google Tag Manager -->
    }

    @if (enableAppInsightsAnalytics)
    {
       <partial name="_AppInsights" asp-add-nonce="true" />
    }

    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/dist/assets/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/dist/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/assets/images/govuk-apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/dist/assets/images/govuk-apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/dist/assets/images/govuk-apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/dist/assets/images/govuk-apple-touch-icon.png">

    <title>@title</title>
    <link rel="stylesheet" href="~/dist/site.css" asp-add-nonce asp-append-version="true"/>
    <link rel="stylesheet" href="~/dist/accessible-autocomplete.min.css" asp-add-nonce asp-append-version="true"/>
</head>
<body class="govuk-template__body">
<partial name="_EnvironmentHeader"/>
<partial name="_MaintenanceBanner" />

@if (showAnalytics)
{
  <!-- Google Tag Manager (noscript) -->
  <noscript asp-add-nonce>
    <iframe title="GATagManager" src="https://www.googletagmanager.com/ns.html?id=GTM-5TFNH73B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
}

<script asp-add-nonce>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

<partial name="_CookieBanner"/>

@await Html.PartialAsync("_Header", currentTab)

@await RenderSectionAsync("AfterHeader", required: false)

<partial name="_BetaBanner"/>

@await RenderSectionAsync("BeforeMainFullWidth", required: false)

<div class="govuk-width-container">
  @await RenderSectionAsync("BeforeMain", required: false)

  <main id="main-content" role="main" class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full"> 
        <partial name="_NotificationSummary" />
        <partial name="_SetCookiesPreferenceBanner" />
        @RenderBody()
      </div>
    </div>
  </main>
</div>
<partial name="_Footer"/>
<script src="~/dist/accessible-autocomplete.min.js" asp-add-nonce asp-append-version="true"></script>
<script src="~/dist/site.js" asp-add-nonce asp-append-version="true"></script>
</body>
</html>