@using Dfe.Complete.Services
@inject IMaintenanceBannerService MaintenanceBannerService

@if (MaintenanceBannerService.ShouldShowBanner())
{
    <div class="govuk-!-margin-8">
        <govuk-notification-banner class="govuk-notification-banner">
            <govuk-notification-banner-title>
                Important
            </govuk-notification-banner-title>
            <h3 class="govuk-notification-banner__heading" id="maintenance-notification">
                @MaintenanceBannerService.GetBannerMessage()
            </h3>
        </govuk-notification-banner>
    </div>
}