<div class="govuk-!-margin-8">
    <govuk-notification-banner class="govuk-notification-banner">
        <govuk-notification-banner-title>
            Important
        </govuk-notification-banner-title>
        <h3 class="govuk-notification-banner__heading" id="dao-revocation">
            The Complete conversions, transfers and changes service will be unavailable from 4pm on Wednesday 19th November until 6pm due to scheduled maintenance work.
        </h3>
    </govuk-notification-banner>
</div>