@model Dfe.Complete.Models.TaskSaveAndReturnModel
@using Dfe.Complete.Domain.Extensions;
@using Dfe.Complete.Domain.Enums;
@inject Dfe.Complete.Services.IProjectPermissionService projectPermissionService;

@if (projectPermissionService.UserCanEdit(Model.Project, Model.CurrentUserTeam, User))
{
	<div class="govuk-form-group">
		<button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-cy="submit-button" data-prevent-double-click="true">Save and return</button>
	</div>
}