@using Dfe.Complete.Extensions;

@{
    var validationMessages = TempData.Get<List<string>>("ProjectValidationMessages");
    var validationTitle = TempData.Get<string>("ProjectValidationTitle");
}

@if (validationTitle != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <govuk-notification-banner class="govuk-notification-banner">
                <govuk-notification-banner-title>
                    Important
                </govuk-notification-banner-title>

                <p>@validationTitle</p>
                @if(validationMessages != null && validationMessages.Count > 0)
                {
                <ul>
                    @foreach (var message in validationMessages)
                    {
                        <li>@message</li>
                    }
                </ul>
                }

            </govuk-notification-banner>
        </div>
    </div>
}