@page "/projects/{projectId}/external-contacts/{contactId}/edit"
@using Dfe.Complete.Domain.Enums
@using Dfe.Complete.Utils;
@using Microsoft.AspNetCore.Components.Forms
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.ExternalContacts.EditExternalContact

@{
    ViewData["Title"] = "Edit contact";
    Layout = "Shared/_Layout";

    var projectsExternalContactLink = string.Format(RouteConstants.ProjectExternalContacts, Model.ProjectId);
    var projectsExternalDeleteLink = string.Format(RouteConstants.ProjectsExternalContactDelete, Model.ProjectId, Model.ContactId);

    var externalContactInputModel = Model.ExternalContactInput;
    const string fullname = nameof(externalContactInputModel.FullName);
    const string email = nameof(externalContactInputModel.Email);
    const string phone = nameof(externalContactInputModel.Phone);
    const string role = nameof(externalContactInputModel.Role);
    const string primaryprojectcontact = nameof(externalContactInputModel.IsPrimaryProjectContact);
    List<string> fieldOrder = new List<string>(new string[] { fullname, role, email, phone, primaryprojectcontact }).Select(f => f.ToLower()).ToList();

    var errorSummaryModel = new Dfe.Complete.Models.ErrorSummaryModel
    {
        HideKeyInErrorMessage = true,
        FieldOrder = fieldOrder
    };
}

@section BeforeMain
{
    <govuk-back-link href="@projectsExternalContactLink" xmlns="http://www.w3.org/1999/html" />
}

@await Html.PartialAsync("_ErrorSummary", model: errorSummaryModel)
<div class="govuk-grid-row govuk-body">
    <form method="post" novalidate>
        <div class="govuk-grid-column-full">            
            <span class="govuk-caption-l">Edit contact</span>
            <h1 class="govuk-heading-l">Enter contact details</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">

            @await Html.PartialAsync("New/_OtherExternalContactForm", model: externalContactInputModel)
            <div class="govuk-button-group">
                <govuk-button type="submit" data-prevent-double-click="true">
                    Save contact
                </govuk-button>
                <a class="govuk-button govuk-button--warning" data-module="govuk-button" draggable="false" role="button" href="@projectsExternalDeleteLink">Delete</a>
                <a class="govuk-link" href="@projectsExternalContactLink">Cancel</a>
            </div>
        </div>
    </form>
</div>

