@using Dfe.Complete.Pages.Projects.Yours
@model Dfe.Complete.Pages.Projects.Yours.YourProjectsModel

@{
    Layout = "Shared/_Layout";
    var ariaCurrentValue = "page";
    string? IsCurrentNav(string tabName) => Model.CurrentNavigationItem == tabName ? ariaCurrentValue : null;
}

@section BeforeMainFullWidth
{
<div class="moj-primary-navigation">
    <div class="moj-primary-navigation__container">
        <div class="moj-primary-navigation__nav">
            <nav class="moj-primary-navigation" aria-label="Primary navigation">
                <ul class="moj-primary-navigation__list">
                    <li class="moj-primary-navigation__item">
                        <a class="moj-primary-navigation__link" aria-current="@IsCurrentNav(YourProjectsModel.InProgressNavigation)" href="/projects/yours/in-progress">In progress</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> 
}

@RenderBody()

@if (Model.Pagination != null)
{
    @await Html.PartialAsync("/Pages/Pagination/_Pagination.cshtml", model: Model.Pagination)
}