services:        
   complete.redis:
    container_name: complete.redis
    image: redis:latest@sha256:5cb00b0f236e286254ce9f3eea989b00bb69d04fb9b6c9a9d0b07e588e49f44e
    restart: always
    ports:
     - "6379:6379"
    networks:
      - local-dev

networks:
  local-dev:
    
