@page "/projects/{projectId}/tasks/sponsored_support_grant"
@using Dfe.Complete.Domain.Enums
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmSponsoredSupportGrantTask.ConfirmTransferGrantFundingLevelTaskModel
@{
    Layout = "_ProjectTaskLayout";
    var isConversion = Model.Type == ProjectType.Conversion;
    ViewData["Title"] = isConversion ? "Confirm and process the sponsored support grant" : "Confirm transfer grant funding level" ;
}
@section TaskHeaderHintSection {
    <div class="govuk-hint">
        @{
            if (isConversion)
            {
                <p>There are 3 levels of sponsored grant available to sponsored schools:</p>
                <ul>
                    <li>fast track</li> 
                    <li>intermediate</li> 
                    <li>full sponsored</li>
                </ul>

                <p>Internal guidance can be found in the <external-link class="govuk-link" href="@_configuration["ExternalLinks:ApprovalToOpeningGuidance"]">Approval to Opening guidance  (opens in new tab)</external-link> and external guidance can be found at <external-link class="govuk-link" href="@_configuration["ExternalLinks:CompleteCertificateinAnnex2SponsoredAcademiesFunding"]">Sponsored academies funding: guidance for sponsors.</external-link></p>
            }
            else
            {
                <p>Transfer funding grants are only usually available in intervention cases.</p>
                <p>This includes transfers due to:</p>
                <ul>
                    <li>an inadequate rating in an Ofsted inspection</li>
                    <li>intervention by DfE following at least 2 requires improvement ratings in Ofsted inspections</li>
                    <li>intervention due to financial, governance or safeguarding concerns</li>
                </ul>
                <p>Others transferring for other reasons may also be able to access this funding. This is judged on a case-by-case basis.</p>
            }
        }
    </div>
}
@section TaskSection {
    @if (isConversion)
    {
        @await Html.PartialAsync("_ConversionConfirmSponsoredSupportGrantTask", Model)
    }
    else
    {
        @await Html.PartialAsync("_TransferConfirmSponsoredSupportGrantTask", Model)
    }
}
