<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
    <system.web>
        <globalization
                culture="en-GB"
                uiCulture="en-GB"
        />
        <httpCookies httpOnlyCookies="true" requireSSL="true" />
    </system.web>
</configuration>