<div class="app-task-hint">
    <p>Check the contact details you have for the headteacher against GIAS (Get information about schools). You can edit these details later if you need to.</p>
</div>

<details data-module="govuk-details" class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">What to do if the headteacher contact details are different</span>
    </summary>
    <div class="govuk-details__text">
        Check which contact is correct with the school and ask that they update GIAS if necessary. This will help to make sure they get their funding and legal paperwork at the right time.
    </div>
</details>