@page "/projects/{projectId}/external-contacts/new/create-other-contact"
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.ExternalContacts.New.CreateOtherExternalContact

@{
    ViewData["Title"] = "Add contact";
    Layout = "Shared/_Layout";
    var projectsExternalContactLink = string.Format(RouteConstants.ProjectExternalContacts, Model.ProjectId);

    var errorSummaryModel = new Dfe.Complete.Models.ErrorSummaryModel
    {
        HideKeyInErrorMessage = true
    };
}
@section BeforeMain
{
    <govuk-back-link href="@projectsExternalContactLink" xmlns="http://www.w3.org/1999/html" />
}

<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Add a contact</span>
        <h1 class="govuk-heading-l">Enter contact details</h1>
    </div>
</div>
<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        @await Html.PartialAsync("_ErrorSummary", model: errorSummaryModel)
        <form method="post" novalidate>
            @await Html.PartialAsync("_OtherExternalContactForm", model: Model.ExternalContactInput)
            <div class="govuk-button-group">
                <govuk-button type="submit" data-prevent-double-click="true">
                    Save and continue
                </govuk-button>
                <a class="govuk-link" href="@projectsExternalContactLink">Cancel</a>
            </div>
        </form>
    </div>
</div>
