@page "/projects/{projectId}/tasks/confirm_chair_of_governors_contact"
@using Dfe.Complete.Constants
@using Dfe.Complete.TagHelpers;
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration

@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmChairOfGovernorsDetailsTask.ConfirmChairOfGovernorsDetailsTaskModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm the chair of governors' details";
    var projectsExternalContactLink = string.Format(RouteConstants.ProjectExternalContacts, Model.ProjectId);
    var projectsExternalContactAddNewLink = string.Format(RouteConstants.NewProjectExternalContacts, Model.ProjectId);
}

@section TaskHeaderHintSection
{
    <div class="govuk-hint">
        <p>Check the contact details are correct, <a href="@projectsExternalContactLink" data-cy="external-contacts-link">edit incorrect contact details and add missing contacts</a>. You may need to contact the person who previously worked on the project to verify this.</p>
    </div>
}
@section TaskSection {
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Who is the chair of governors?</legend>
    @if (Model?.Contacts != null && Model.Contacts.Count > 0)
    {
        <form method="post" novalidate data-cy="task-update-chair-of-governors-form">
            <div class="govuk-hint">
                <p>Choose the relevant person from the list of contacts. You may need to add a new contact if the person you are looking for is not in the list.</p>
                <p>Their job title may be slightly different to the role described here. Choose the person whose role most closely matches the chair of governors.</p>
            </div>

            <input type="hidden" asp-for="KeyContactId" />
            @await Html.PartialAsync("_TaskContactRadioList",
            new ContactRadioListModel(Model.Contacts!, Model.ChairOfGovernorserContactId, "ChairOfGovernorserContactId")
            {
                Legend = "Choose a contact"
            }
        )
    @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
</form>
        }
    else
    {
        <govuk-inset-text>
            No contacts have been added to the project.
        </govuk-inset-text>
        <govuk-button-link href="@projectsExternalContactAddNewLink" data-cy="external-contacts-add-new-button">Add a contact</govuk-button-link>
    }
}
