@page "/projects/{projectId}/tasks/sponsored_support_grant"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.ConfirmTransferGrantFundingLevel.ConfirmTransferGrantFundingLevelModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Confirm transfer grant funding level";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}