@page "/projects/all/statistics"
@model Dfe.Complete.Pages.Projects.List.Statistics.StatisticsModel
@{
    Layout = "List/Statistics/_StatisticsLayout";
    ViewData["Title"] = "Statistics";
}
@section PageHeading
{
    <h1 class="govuk-heading-l">
        Statistics
    </h1>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <nav>
            <h2 class="govuk-heading-m">Jump to section</h2>
            <ul class="list-style-none govuk-!-padding-0">
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectOverview">Overview of all projects</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectsRCS">Projects with Regional casework services</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#projectsNotRCS">Projects not with Regional casework services</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#conversionProjectsPerRegion">Conversion projects per region</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#transferProjectsPerRegion">Transfer projects per region</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#sixMonthView">6 month view of all project openers</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#newProjects">New projects this month</a>
                </li>

                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#usersPerTeam">Users per team</a>
                </li> 
            </ul>
        </nav> 
    </div>

    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l" id="projectOverview">Overview of all projects</h2>
                <table class="govuk-table" name="statistics_table" aria-label="Project statistics">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Detail</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" id="in_progress">
                            <th scope="row" class="govuk-table__cell">In progress projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">102</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">27</td>
                        </tr>
                        <tr class="govuk-table__row" id="completed">
                            <th scope="row" class="govuk-table__cell">Completed projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">22</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                        </tr>
                        <tr class="govuk-table__row" id="unassigned">
                            <th scope="row" class="govuk-table__cell">Unassigned projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">39</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
                        </tr>
                        <tr class="govuk-table__row" id="dao_revoked">
                            <th scope="row" class="govuk-table__cell">DAO revoked projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">13</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">NA</td>
                        </tr>
                        <tr class="govuk-table__row" id="all_projects">
                            <th scope="row" class="govuk-table__cell">All projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">175</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">39</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l" id="projectsRCS">Projects with Regional casework services</h2>
                <table class="govuk-table" name="regional_casework_services_statistics_table" aria-label="Regional casework services statistics">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Detail</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body" id="conversion_projects">
                        <tr class="govuk-table__row" id="in_progress">
                            <th scope="row" class="govuk-table__cell">In progress projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row" id="completed">
                            <th scope="row" class="govuk-table__cell">Completed projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">9</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                        </tr>
                        <tr class="govuk-table__row" id="unassigned">
                            <th scope="row" class="govuk-table__cell">Unassigned projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">30</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
                        </tr>
                        <tr class="govuk-table__row" id="all_projects">
                            <th scope="row" class="govuk-table__cell">All projects with Regional casework services</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">56</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l" id="projectsNotRCS">Projects not with Regional casework services</h2>
                <table class="govuk-table" name="not_with_regional_casework_services_statistics_table" aria-label="Not with Regional casework services statistics">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Detail</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="govuk-table__row" id="in_progress">
                            <th scope="row" class="govuk-table__cell">In progress projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">85</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">15</td>
                        </tr>
                        <tr class="govuk-table__row" id="completed">
                            <th scope="row" class="govuk-table__cell">Completed projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">13</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                        </tr>
                        <tr class="govuk-table__row" id="unassigned">
                            <th scope="row" class="govuk-table__cell">Unassigned projects</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row" id="all_projects">
                            <th scope="row" class="govuk-table__cell">All projects not with Regional casework services</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">112</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l" id="conversionProjectsPerRegion">Conversion projects per region</h2>
                <table class="govuk-table" name="not_with_regional_casework_services_statistics_table" aria-label="Conversion projects per region statistics">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Region</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">In-progress projects</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Completed projects</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Unassigned projects</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">All projects</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" id="london">
                            <th scope="row" class="govuk-table__cell">London</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">30</td>
                        </tr>
                        <tr class="govuk-table__row" id="south-east">
                            <th scope="row" class="govuk-table__cell">South East</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">11</td>
                        </tr>
                        <tr class="govuk-table__row" id="yorkshire-and-the-humber">
                            <th scope="row" class="govuk-table__cell">Yorkshire and the Humber</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
                        </tr>
                        <tr class="govuk-table__row" id="north-west">
                            <th scope="row" class="govuk-table__cell">North West</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">21</td>
                        </tr>
                        <tr class="govuk-table__row" id="east-of-england">
                            <th scope="row" class="govuk-table__cell">East of England</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">9</td>
                        </tr>
                        <tr class="govuk-table__row" id="west-midlands">
                            <th scope="row" class="govuk-table__cell">West Midlands</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">34</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">14</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">51</td>
                        </tr>
                        <tr class="govuk-table__row" id="north-east">
                            <th scope="row" class="govuk-table__cell">North East</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
                        </tr>
                        <tr class="govuk-table__row" id="south-west">
                            <th scope="row" class="govuk-table__cell">South West</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">20</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">25</td>
                        </tr>
                        <tr class="govuk-table__row" id="east-midlands">
                            <th scope="row" class="govuk-table__cell">East Midlands</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l" id="transferProjectsPerRegion">Transfer projects per region</h2>
                <table class="govuk-table" name="not_with_regional_casework_services_statistics_table" aria-label="Transfer projects per region statistics">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Region</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">In-progress projects</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Completed projects</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Unassigned projects</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">All projects</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" id="london">
                            <th scope="row" class="govuk-table__cell">London</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
                        </tr>
                        <tr class="govuk-table__row" id="south-east">
                            <th scope="row" class="govuk-table__cell">South East</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                        </tr>
                        <tr class="govuk-table__row" id="yorkshire-and-the-humber">
                            <th scope="row" class="govuk-table__cell">Yorkshire and the Humber</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
                        </tr>
                        <tr class="govuk-table__row" id="north-west">
                            <th scope="row" class="govuk-table__cell">North West</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
                        </tr>
                        <tr class="govuk-table__row" id="east-of-england">
                            <th scope="row" class="govuk-table__cell">East of England</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                        </tr>
                        <tr class="govuk-table__row" id="west-midlands">
                            <th scope="row" class="govuk-table__cell">West Midlands</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">9</td>
                        </tr>
                        <tr class="govuk-table__row" id="north-east">
                            <th scope="row" class="govuk-table__cell">North East</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                        </tr>
                        <tr class="govuk-table__row" id="south-west">
                            <th scope="row" class="govuk-table__cell">South West</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                        </tr>
                        <tr class="govuk-table__row" id="east-midlands">
                            <th scope="row" class="govuk-table__cell">East Midlands</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l" id="sixMonthView">6 month view of all project openers</h2>
                <table class="govuk-table" name="statistics_table" aria-label="Project statistics">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Project opener date</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Conversions</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Transfers</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">July 2025</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">August 2025</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">September 2025</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">October 2025</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">November 2025</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__cell">December 2025</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l" id="newProjects">New projects this month (June 2025)</h2>
                <table class="govuk-table" name="statistics_table" aria-label="Project statistics">
                    <tbody class="govuk-table__body">
                        <tr>
                            <th scope="row" class="govuk-table__cell">
                                Total
                            </th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">17</td>
                        </tr>
                        <tr>
                            <th scope="row" class="govuk-table__cell">
                                Conversions
                            </th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">14</td>
                        </tr>
                        <tr>
                            <th scope="row" class="govuk-table__cell">
                                Transfers
                            </th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-l" id="usersPerTeam">Users per team</h2>
                <table class="govuk-table" name="statistics_table" aria-label="Users count by team">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Team</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Number of users</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row" id="users_london">
                            <th scope="row" class="govuk-table__cell">London</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">23</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_south_east">
                            <th scope="row" class="govuk-table__cell">South East</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_yorkshire_and_the_humber">
                            <th scope="row" class="govuk-table__cell">Yorkshire and the Humber</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_north_west">
                            <th scope="row" class="govuk-table__cell">North West</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_east_of_england">
                            <th scope="row" class="govuk-table__cell">East of England</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_west_midlands">
                            <th scope="row" class="govuk-table__cell">West Midlands</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_north_east">
                            <th scope="row" class="govuk-table__cell">North East</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_south_west">
                            <th scope="row" class="govuk-table__cell">South West</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_east_midlands">
                            <th scope="row" class="govuk-table__cell">East Midlands</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_regional_casework_services">
                            <th scope="row" class="govuk-table__cell">Regional casework services</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">30</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_service_support">
                            <th scope="row" class="govuk-table__cell">Service support</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">12</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_business_support">
                            <th scope="row" class="govuk-table__cell">Business support</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                        </tr>
                        <tr class="govuk-table__row" id="users_data_consumers">
                            <th scope="row" class="govuk-table__cell">Data consumers</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>