@import "./css/inter/inter.css";

$govuk-page-width: 1200px;
$moj-page-width: $govuk-page-width;

$govuk-font-url-function: "font-url";
$govuk-image-url-function: "image-url";
$govuk-global-styles: true;

// override the default page width
$govuk-page-width: 1200px;
$moj-page-width: $govuk-page-width;

// Use the DfE font 'Inter', do not user GDS Transport
$govuk-font-family: "Inter", sans-serif;

$dfe-blue: #003a69;

@import "node_modules/govuk-frontend/govuk/all.scss";
@import "node_modules/@ministryofjustice/frontend/moj/all.scss";
@import "./css/attachment.scss";
@import "./css/related-items.scss";
@import "./css/summary-card.scss";
@import "./css/task-list.scss";
@import "./css/cookie-banner.scss";
@import "./css/dfe-frontend.scss";
@import "./css/risk.scss";
@import "./css/project-overview.scss";
@import "./css/pupil-numbers.scss";
@import "./css//pagination.scss";


.moj-sub-navigation__link {
	font-weight: bold;
}

.app-align-right {
  text-align: right;
}

.autocomplete__option {
	font-family: Arial, sans-serif !important;
	font-weight: 400;
}

.app-\!-width-one-fifth {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 20% !important;
	}
}

.app-\!-width-two-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 40% !important;
	}
}

.app-\!-width-three-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 60% !important;
	}
}

.app-\!-width-four-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 80% !important;
	}
}

.environment-banner {
	&.govuk-tag {
		display: block;
		padding-left: calc((100vw - #{$govuk-page-width}) / 2);

		@include govuk-media-query($until: $govuk-page-width + $govuk-gutter * 2) {
			padding-left: $govuk-gutter;
		}

		@include govuk-media-query($until: tablet) {
			padding-left: $govuk-gutter-half;
		}
	}
}

.govuk-prototype-kit-common-templates-related-items {
    border-top: 2px solid govuk-colour("blue");
    padding-top: govuk-spacing(2);
}

.govuk-prototype-kit-common-templates-related-items .govuk-list > li {
    margin-bottom: govuk-spacing(2);
}


.autocomplete__wrapper * {
	@include govuk-typography-common();
  }
  
  .environment-banner {
	&.govuk-tag {
	  display: block;
	  padding-left: calc((100vw - #{$govuk-page-width}) / 2);
  
	  @include govuk-media-query($until: $govuk-page-width + $govuk-gutter * 2) {
		padding-left: $govuk-gutter;
	  }
  
	  @include govuk-media-query($until: tablet) {
		padding-left: $govuk-gutter-half;
	  }
	}
  }
  
  .list-style-none {
	list-style: none;
	padding-left: 0;
  }
  
  .govuk-section-break--s {
	@include govuk-responsive-margin(2, "top");
	@include govuk-responsive-margin(2, "bottom");
  }
  
  .projects-list {
	.project-summary {
	  p {
		margin-block-end: 0;
	  }
  
	  @include govuk-media-query($from: desktop) {
		.row-container {
		  display: flex;
		  justify-content: space-between;
		}
	  }
  
	  @include govuk-media-query($until: desktop) {
		.govuk-section-break:not(:last-child) {
		  display: none;
		}
	  }
	}
  }
  
  address.govuk-address {
	font-style: normal;
  }
  
  .project-information-block {
	margin-bottom: 50px;
  }
  
  // MOJ header navigtion
  // We want persitently acitve navigation items
  .moj-header__navigation-link[aria-current] {
	color: govuk-colour("blue");
  }
  
  // Undo the changes the the DfE styles do to the MOJ styles
  .moj-sub-navigation__item {
	margin-bottom: 0px;
  }
  
  // force skip link to be underline
  .govuk-skip-link { text-decoration: underline !important; }
  
  // force header and DfE navigation links to always be white
  a.dfe-header__link--service, a.dfe-header__navigation-link {
	color: #ffffff;
  }
  