@page
@model Dfe.Complete.Pages.Errors.IndexModel
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@{
  ViewData["Title"] = !string.IsNullOrEmpty(Model.ErrorMessage) ? Model.ErrorMessage : "Error";
}

<div class="govuk-grid-column-two-thirds govuk-!-padding-0">
  <h1 class="govuk-heading-l" id="error-heading">@Model.ErrorMessage</h1>
  <p class="govuk-body">
    A fault has stopped us from doing what you asked. It might work next time if you try again.
  </p>
  <p class="govuk-body">
    Email the Open free schools team at <a href="mailto:@_configuration["SupportEmail"]?subject=Complete%20conversions%2C%20transfers%20and%20changes:%20support%20query" class="govuk-link">@_configuration["SupportEmail"]</a> if this error continues.
  </p>
</div>