@using GovUk.Frontend.AspNetCore.TagHelpers

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <govuk-notification-banner>
            <govuk-notification-banner-title>
                Important
            </govuk-notification-banner-title>
            <h3>Not assigned to project</h3>
            <p>This project is not assigned to you and cannot be changed, you can add notes or contacts if required.</p>
        </govuk-notification-banner>
    </div>
</div>