@model Dfe.Complete.Pages.Projects.ServiceSupport.LocalAuthorities.ListLocalAuthoritiesModel
@{
    Layout = "ServiceSupport/_ServiceSupportLayout";
}

<div class="govuk-grid-row">
    @RenderBody()
</div>
