@page "/service-support/local-authorities" 
@using Dfe.Complete.Constants
@model Dfe.Complete.Pages.Projects.ServiceSupport.LocalAuthorities.ListLocalAuthoritiesModel
@{
    Layout = "ServiceSupport/LocalAuthorities/_LocalAuthoritiesLayout";
    ViewData["Title"] = "Local authorities";
    var HasDeletedLa = (bool)(TempData["HasDeletedLa"] ?? false);
}
@if (HasDeletedLa)
{
    <govuk-notification-banner class="govuk-notification-banner--success">
        <govuk-notification-banner-title>
            Success
        </govuk-notification-banner-title>
        <h3 class="govuk-notification-banner__heading" id="la-deleted">
            Local authority deleted successfully
        </h3>
    </govuk-notification-banner> 
}
<div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
        Local authorities
    </h1>
    <a data-module="govuk-button" draggable="false" role="button" class="govuk-button" href="@RouteConstants.CreateNewLocalAuthority">New local authority</a>
    <table class="govuk-table" name="local_authorities_table" aria-label="Local authorities table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">View details</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">

            @foreach (var localAuthority in Model.LocalAuthorities)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__header govuk-table__cell">@localAuthority.Name</td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="@Model.GetLocalAuthorityDetailsUrl(localAuthority.Id.Value.ToStringOrDefault())">View details</a>
                </tr>
            }
        </tbody>
    </table>
</div>