@page "/service-support/local-authorities"
@model Dfe.Complete.Pages.Projects.ServiceSupport.LocalAuthorities.LocalAuthoritiesModel
@{
    Layout = "ServiceSupport/_ServiceSupportLayout";
    ViewData["Title"] = "Local authorities";
}
<h1 class="govuk-heading-xl">
    Local authorities
</h1>
