@page "/projects/{projectId}/tasks/subleases"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.Subleases.SubleasesModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Subleases";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}
