// Custom header styles to avoid CSP violations from inline styles

.govuk-header__container {
  position: relative;
}

.govuk-header__logotype {
  height: 30px;
}

// Search toggle button (collapsed state)
.govuk-header__search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
}

.govuk-header__search-toggle-button {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  height: 61px;
  padding: 20px 15px;
  position: relative;
  width: 61px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 1px;
    height: 3px;
    background: #fff;
  }

  &:focus {
    outline: 3px solid transparent;
    background-color: #ffdd00;
    color: #0b0c0c;
    box-shadow: none;

    .govuk-header__search-icon {
      color: #0b0c0c;
    }
  }
}

.govuk-header__search-icon {
  width: 20px;
  height: 20px;
  color: #fff;
  pointer-events: none;
}

.search-close-icon {
  display: none;
  font-size: 36px;
  font-weight: normal;
  line-height: 22px;
  pointer-events: none;
  position: absolute;
}

// Show close icon when button is open
.govuk-header__search-toggle-button.search-toggle-button--open {
  background: #f4f8fb;
  color: #1d70b8;

  .govuk-header__search-icon {
    display: none;
  }

  .search-close-icon {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 1px;
    height: 3px;
    background: #1d70b8;
  }
}

// Search overlay panel (expanded state)
.search-overlay-panel {
  background: #f4f8fb;
  border-bottom: 1px solid #b1b4b6;
  padding: 40px 0;
  width: 100%;

  &[hidden] {
    display: none;
  }
}

.search-overlay-container {
  padding-top: 30px;
  padding-bottom: 40px;
}

.search-overlay-form {
  padding: 0;
}

.search-input-wrapper {
  display: flex;
  border: 2px solid #0b0c0c;
  background: #ffffff;
  position: relative;
}

.search-overlay-input {
  flex: 1;
  border: none;
  padding: 8px 12px;
  font-size: 19px;
  background: transparent;
  outline: none;
  color: #0b0c0c;
  margin: 0;
  height: 50px;

  &::placeholder {
    color: #626a6e;
  }

  &:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
  }
}

.search-overlay-button {
  background: #1d70b8;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  margin: 0;

  &:hover {
    background: #003078;
  }

  &:focus {
    outline: 3px solid #ffdd00;
    outline-offset: 0;
    background: #003078;
  }
}

.search-overlay-icon {
  width: 20px;
  height: 20px;
  color: #fff;
}

