@page "/projects/{projectId}/tasks/stakeholder-kickoff/edit"
@using Dfe.Complete.Constants
@using Dfe.Complete.Domain.Enums
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.StakeholderKickoffTask.StakeholderKickoffTaskModel
@{
  var backlink = string.Format(RouteConstants.ConversionEditStakeholderKickoffTask, Model.ProjectId);
}

@section BeforeMain {
  <a href=@backlink class="govuk-back-link">Back</a>
}

@if (Model.Project.Type == ProjectType.Conversion)
{
  @await Html.PartialAsync("_ConversionStakeholderKickoffTask", Model)
}

@if (Model.Project.Type == ProjectType.Transfer)
{
  @await Html.PartialAsync("_TransferStakeholderKickoffTask", Model)
}