@page "/projects/{projectId}/tasks/deed_termination_church_agreement"
@model Dfe.Complete.Pages.Projects.TaskList.Tasks.DeedOfTerminationForChurchSupplementalAgreement.DeedOfTerminationForChurchSupplementalAgreementModel
@{
    Layout = "_ProjectTaskLayout";
    ViewData["Title"] = "Deed of termination for the church supplemental agreement";
}
@section TaskHeaderHintSection {
    <div class="govuk-hint"> 
    </div>
}
@section TaskSection {

    <form method="post"> 
        @await Html.PartialAsync("_TaskSaveAndReturn", new TaskSaveAndReturnModel(Model.Project, Model.CurrentUserTeam))
    </form>
}