@page "/projects/all/users/{id}"
@model Dfe.Complete.Pages.Projects.List.ProjectsByUser.ProjectsByUser

@{
  Layout = "List/ProjectsByUser/_ProjectsByUserLayout";
  ViewData["Title"] = $"Projects for {Model.UserResult.FullName}";
}

@section PageHeading
{
  <h1 class="govuk-heading-l">
    Projects for @Model.UserResult.FullName
  </h1>
}

@await Html.PartialAsync("_UserProjectsTable", Model.UserResult.ProjectsAssigned)
