name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: "Choose an environment to deploy to"
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.inputs.environment }}

env:
  IMAGE_NAME: complete-app

jobs:
  set-env:
    name: Determine environment
    runs-on: ubuntu-24.04
    outputs:
      environment: ${{ steps.var.outputs.environment }}
      release: ${{ steps.var.outputs.release }}
      image-name: ${{ steps.var.outputs.image-name }}
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - id: var
        run: |
          INPUT=${{ github.event.inputs.environment }}
          ENVIRONMENT=${INPUT:-"development"}
          RELEASE=${ENVIRONMENT,,}-`date +%Y-%m-%d`.${{ github.run_number }}
          echo "environment=${ENVIRONMENT,,}" >> $GITHUB_OUTPUT
          echo "release=${RELEASE}" >> $GITHUB_OUTPUT
          echo "image-name=${{ env.IMAGE_NAME }}" >> $GITHUB_OUTPUT

  validate-packages:
    runs-on: windows-latest
    name: Package Validation
    permissions:
      contents: read
    needs: [ set-env ]
    steps:
      - name: Validate Packages
        uses: DFE-Digital/rsd-github-actions/.github/actions/validate-packages@5d9289aaafc5d0a591dab9d93a93be27381fc5e5 # v1.1.3
        with:
          environment: ${{ needs.set-env.outputs.environment }}

  build-import-deploy:
    name: ${{ matrix.display-name }}
    needs: [ set-env, validate-packages ]
    runs-on: ubuntu-24.04
    environment: ${{ needs.set-env.outputs.environment }}
    permissions:
      packages: write
      id-token: write
      attestations: write
    strategy:
      matrix:
        image: [
          "web",
          "init",
          "api"
        ]
        include:
          - image: "web"
            display-name: "Build, Import, Deploy (web-final)"
            tag-prefix: "dotnet-"
            aca-name-secret: "ACA_CONTAINERAPP_NAME"
            dockerfile: "Dockerfile.web"
            target-stage: "final"
            deploy: true
          - image: "init"
            display-name: "Build, Import, RUN MIGRATIONS (web-init)"
            tag-prefix: "dotnet-migration-"
            aca-name-secret: ""
            dockerfile: "Dockerfile.web"
            target-stage: "initcontainer"
            deploy: false
          - image: "api"
            display-name: "Build, Import, Deploy (api)"
            tag-prefix: "dotnet-api-"
            aca-name-secret: "ACA_CONTAINERAPP_API_NAME"
            dockerfile: "Dockerfile.api"
            target-stage: "final"
            deploy: true
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/build@8e72e403f05ff9da09668207eef1d79e1ce9d1a7 # v5.2.1
        with:
          build-file-name: ./${{ matrix.dockerfile }}
          build-args: CI=true
          build-target: ${{ matrix.target-stage }}
          image-name: ${{ needs.set-env.outputs.image-name }}
          tag-prefix: ${{ matrix.tag-prefix }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/import@8e72e403f05ff9da09668207eef1d79e1ce9d1a7 # v5.2.1
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-acr-client-id: ${{ secrets.ACR_CLIENT_ID }}
          azure-acr-name: ${{ secrets.ACR_NAME }}
          image-name: ${{ needs.set-env.outputs.image-name }}
          tag-prefix: ${{ matrix.tag-prefix }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID || '' }}
          AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION_ID || '' }}
          AZURE_ACR_CLIENT_ID: ${{ secrets.ACR_CLIENT_ID || '' }}

      - id: annotate
        run: echo "ANNOTATE_RELEASE=${{ matrix.image == 'web' && matrix.deploy && 'yes' || 'no' }}" >> $GITHUB_ENV

      - uses: DFE-Digital/deploy-azure-container-apps-action/.github/actions/deploy@8e72e403f05ff9da09668207eef1d79e1ce9d1a7 # v5.2.1
        if: ${{ matrix.deploy }}
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-aca-client-id: ${{ secrets.ACA_CLIENT_ID }}
          azure-aca-name: ${{ secrets[matrix.aca-name-secret] }}
          azure-aca-resource-group: ${{ secrets.ACA_RESOURCE_GROUP }}
          azure-acr-name: ${{ secrets.ACR_NAME }}
          annotate-release: ${{ env.ANNOTATE_RELEASE }}
          image-name: ${{ needs.set-env.outputs.image-name }}
          tag-prefix: ${{ matrix.tag-prefix }}
        env:
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID || '' }}
          AZURE_SUBSCRIPTION: ${{ secrets.AZURE_SUBSCRIPTION_ID || '' }}
          AZURE_ACA_CLIENT_ID: ${{ secrets.ACA_CLIENT_ID || '' }}

  create-tag:
    name: Tag and release
    needs: [ set-env, build-import-deploy ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
        with:
          ref: ${{ github.ref }}

      - name: Create tag
        run: |
          git tag ${{ needs.set-env.outputs.release }}
          git push origin ${{ needs.set-env.outputs.release }}

      - name: Create release
        uses: "actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b" # v7
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          script: |
            try {
              await github.rest.repos.createRelease({
                draft: false,
                generate_release_notes: true,
                name: "${{ needs.set-env.outputs.release }}",
                owner: context.repo.owner,
                prerelease: false,
                repo: context.repo.repo,
                tag_name: "${{ needs.set-env.outputs.release }}",
              });
            } catch (error) {
              core.setFailed(error.message);
            }

  cypress-tests:
    name: Run Cypress Tests
    if: needs.set-env.outputs.environment == 'test' || needs.set-env.outputs.environment == 'development'
    needs: [ set-env, build-import-deploy ]
    uses: ./.github/workflows/cypress.yml
    with:
      environment: ${{ needs.set-env.outputs.environment }}
    secrets:
      CYPRESS_URL_ENDPOINT: ${{ secrets.CYPRESS_URL_ENDPOINT }}
      CYPRESS_API_ENDPOINT: ${{ secrets.CYPRESS_API_ENDPOINT }}
      CYPRESS_USERNAME: ${{ secrets.CYPRESS_USERNAME }}
      CYPRESS_AUTH_KEY: ${{ secrets.CYPRESS_AUTH_KEY }}
      CYPRESS_TENANT_ID: ${{ secrets.CYPRESS_TENANT_ID }}
      CYPRESS_CLIENT_ID: ${{ secrets.CYPRESS_CLIENT_ID }}
      CYPRESS_CLIENT_SECRET: ${{ secrets.CYPRESS_CLIENT_SECRET }}
      CYPRESS_COMPLETEAPI_CLIENTID: ${{ secrets.CYPRESS_COMPLETEAPI_CLIENTID }}
      TEAMS_WEBHOOK_URL: ${{ secrets.TEAMS_WEBHOOK_URL }}
