name: Cypress lint

on:
  pull_request:
    paths:
      - src/Tests/Dfe.Complete.CypressTests
    types: [opened, synchronize]

env:
  NODE_VERSION: '21'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src/Tests/Dfe.Complete.CypressTests
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 0

    - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: ${{ env.NODE_VERSION }}

    - run: |
        npm ci --ignore-scripts
        npm run format:check
