name: Dockerfile

on:
  push:
    branches: main
    paths:
      - Dockerfile.web
      - Dockerfile.api
  pull_request:
    paths:
      - Dockerfile.web
      - Dockerfile.api
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [
          "web",
          "api"
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        id: build
        with:
          file: './Dockerfile.${{ matrix.image }}'
          secrets: github_token=${{ secrets.GITHUB_TOKEN }}
          build-args: CI=true
          cache-from: type=gha
          cache-to: type=gha
          push: false
