name: Dockerfile

on:
  push:
    branches: main
    paths:
      - Dockerfile.web
      - Dockerfile.api
  pull_request:
    paths:
      - Dockerfile.web
      - Dockerfile.api
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: [
          "web",
          "api"
        ]
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        id: build
        with:
          file: './Dockerfile.${{ matrix.image }}'
          secrets: github_token=${{ secrets.GITHUB_TOKEN }}
          build-args: CI=true
          cache-from: type=gha
          cache-to: type=gha
          push: false
