@page "/projects/{projectId}/dao-revocation/date"
@model Dfe.Complete.Pages.Projects.Decision.RecordDaoRevocation.Date.AddDaoRevocationDecisionDateModel
@using Dfe.Complete.Constants
@inject Dfe.Complete.Services.ErrorService ErrorService
@{
    Layout = "_RecordDaoRevocationLayout";
    ViewData["Title"] = "Date of decision";
    var hasError = ErrorService.HasErrors();
}
 
@section BodySection {
    <govuk-error-summary />
    <form method="post">
        <input type="hidden" asp-for="ProjectId" />
        <span class="govuk-caption-xl">Revoke Directive Academy Order</span>
        <h1 class="govuk-heading-xl">
            Date of decision
        </h1>
        <govuk-date-input id="date" name-prefix="date" asp-for="@Model.Date"> 
            <govuk-date-input-fieldset> 
                <govuk-date-input-fieldset-legend class="govuk-fieldset__legend">
                </govuk-date-input-fieldset-legend>
                <govuk-date-input-hint>
                    <p>For example, 27 3 2021</p>
                </govuk-date-input-hint> 
                @if (ErrorService.HasErrors())
                {
                    <govuk-date-input-error-message>@ErrorService.GetErrorMessage(nameof(Model.Date))</govuk-date-input-error-message>
                }
            </govuk-date-input-fieldset>
        </govuk-date-input>
        <div class="govuk-button-group">
            <govuk-button type="submit">Continue</govuk-button>
            <a class="govuk-link" href="@string.Format(RouteConstants.Project, Model.ProjectId)">Cancel</a>
        </div>
    </form>
}